.header {
  display: flex;
  justify-content: space-between; /* Space between items */
  align-items: center; /* Center items vertically */
  padding: 10px 20px; /* Padding around header */
  background-color: #f2d8d8; /* Background color */
  color: white; /* Text color */
  position: sticky; /* Keep it fixed at the top */
  top: 0; /* Stick to the top */
  z-index: 1000; /* Make sure it appears above other content */
  transition: top 0.3s; /* Smooth transition */
}

.header.hidden {
  top: -100px; /* Hide the header */
}

.header.visible {
  top: 0; /* Show the header */
}

.header-left,
.header-right {
  display: flex;
  align-items: center; /* Center icons and buttons vertically */
}

.home-button {
  padding: 5px 10px;
  /* Space between icons and subscribe button */
  background-color: #fa9189; /* Button color */
  color: white; /* Button text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  margin-right: 20px; /* Space between home button and icons */
  text-decoration: none;
}

.social-icon {
  color: #545b77;
  font-size: 1.5rem; /* Icon size */
  margin: 0 10px; /* Space between icons */
}

.subscribe-button {
  padding: 5px 10px;
  /* margin-right: 10px; */
  margin-left: 20px; /* Space between icons and subscribe button */
  background-color: #fa9189; /* Button color */
  color: white; /* Button text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
}

.subscribe-button:hover {
  background-color: #545b77; /* Darker on hover */
}
.home-button:hover {
  background-color: #545b77; /* Darker on hover */
}
/* Subscribe button */
.subscribe-button {
  padding: 5px 10px;
  margin-left: 20px; /* Space between icons and subscribe button */
  background-color: #fa9189; /* Button color */
  color: white; /* Button text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  font-size: 1rem; /* Default font size */
}

.subscribe-button:hover {
  background-color: #545b77; /* Darker on hover */
}

/* Media query for mobile view */
@media (max-width: 768px) {
  /* Adjust subscribe button for mobile */
  .subscribe-button {
    padding: 5px; /* Smaller padding */
    font-size: 0.8rem; /* Smaller text size */
    margin-left: 0; /* Remove margin on mobile */
  }

  /* Replace subscribe text with icon */
  .subscribe-button::before {
    /* content: '\f0e0'; Unicode for mail icon (Font Awesome) */
    font-family: 'Font Awesome 5 Free'; /* Font Awesome */
    font-weight: 900; /* Bold icon */
    margin-right: 5px;
  }

  .subscribe-button {
    text-align: center;
  }

  .subscribe-button span {
    display: none; /* Hide text on mobile */
  }
}
